*{
    font-family: roboto,serif;
}

body{
    background-color: #272f33;
    margin: 0px 20px;
    color: white;
    padding-top: 50px;
}

.header-main{
    background-color: #344147;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    z-index: 100;
    color: white;
}

.header-logo{
    flex: 1;
    margin-left: 30px;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    display: block;
    text-align: center;
}


.heading-name , .Audio-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.heading-name h3{
    flex: 1;
    font-size: 30px;
    padding: 0;
    text-align: center;
}

.heading-name span{
    flex: 1;
    justify-content: center;
    margin: 5px 5px;
    font-size: 13px;
    text-align: center;
    display: block;
}

.audio-arb{
    width: 100%;
    padding-bottom: 10px;
}

.play-next button{
    flex: 1;
    margin-right: 10px;
    background-color: rgb(17, 147, 187);
    border: none;
    border-radius: 20px;
    width: 130px;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    margin-bottom: 30px;
    font-weight: bold;
    transition: all 0.3s;
}
.play-next button:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(17, 147, 187, 0.664);
}

.play-next button span{
    font-size: 13px;
    text-align: center;
}


.display-surah-container{
    display: flex;
    flex-direction: column;
    background-color: #15191b;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 0px 5px;
}

.language button{
    flex: 1;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 17px;
    font-weight:400;
    padding: 10px 15px;
    transition: all 0.3s;
}
.language button:hover{
    color:  rgba(17, 147, 187, 0.664);
}

.surah{
    flex: 1;
    font-size: 20px;
    line-height: 30px;
    font-family: serif;
}

.surah-arabic{
    letter-spacing: 1px;
    line-height: 40px;
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
    text-align: end;
    font-family: roboto;
}

.audio-container-both{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 20px;
    gap: 20px;
}

.audio-eng, .audio-eng-arb{
    flex: 1;
    width: 90%;
    padding: 10px 0px ;
}

.audio-container-both span{
    margin-left: 20px ;
    padding: 8px 0px;
}

.surah li{
    border-bottom-color: rgba(240, 248, 255, 0.26);
    border-bottom-style: solid;
    border-bottom-width: 0.1px;
    padding: 20px 5px;
}

.surah h4{
    text-align: center;
}

h5{
    text-align: center;
    padding-right: 50px;

}




