*{
    font-family: roboto,serif;
}

body{
    margin: 0px 20px;
    color: white;
    padding-top: 50px;
    background:radial-gradient(rgb(90, 2, 2), #010e14);
    height: fit-content;
}

.header-main{
    background-color: #131d22f6;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    z-index: 100;
    color: white;
}

.header-logo{
    flex: 1;
    margin-left: 30px;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    display: block;
    text-align: center;
}


.heading-name , .Audio-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.heading-name h3{
    flex: 1;
    font-size: 30px;
    padding: 0;
    text-align: center;
}

.heading-name span{
    flex: 1;
    justify-content: center;
    margin: 5px 5px;
    font-size: 13px;
    text-align: center;
    display: block;
}

.audio-arb{
    width: 100%;
    padding-bottom: 10px;
}

.play-next button{
    flex: 1;
    margin-right: 10px;
    background-color: rgb(17, 147, 187);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    width: 110px;
    padding: 3px 0px;
    margin-bottom: 30px;
    font-weight: bold;
    transition: all 0.3s;
    letter-spacing: 1px;
}
.play-next button:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(17, 147, 187, 0.664);
    cursor: pointer;
}

.play-next button span{
    font-size: 13px;
    text-align: center;
}


.display-surah-container{
    display: flex;
    flex-direction: column;
    background-color: #20192c86;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 0px 5px;
    box-shadow: 0px 0px 10px rgba(111, 0, 155, 0.493);
}

.language button{
    flex: 1;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 17px;
    font-weight:400;
    padding: 10px 15px;
    transition: all 0.3s;
}
.language button:hover{
    cursor: pointer;
    color:  rgba(17, 147, 187, 0.664);
}

.surah{
    flex: 1;
    font-size: 20px;
    line-height: 30px;
}


.audio-container-both{
    display: flex;
    flex-direction: column;
    margin: 30px 40px;
    font-size: 18px;
    gap: 10px;
}

.audio-eng-arb{
    flex: 1;
    width: 100%;
    padding: 10px 0px;
}


.surah li{
    border-bottom-color: rgba(130, 131, 131, 0.26);
    border-bottom-style: solid;
    border-bottom-width: 0.1px;
    padding: 0px 5px;}

h5{
    text-align: center;
    padding-right: 50px;
    font-size: 17px;
    font-weight: 300;
}

.arabic-ol{
    list-style-type: arabic-indic;
}

.arabic-ol li ,.surah p{
    font-family: mirza;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1px;
    font-size: 28px;
    text-align: center;
}

.surah p{
    font-size: 23px;
}



